$background: #282A36;
$background2: #383A59;
$foreground: #F4F4EF;
$foregroundDim: #6272A4;
$violet: #BD93F9;
$orange: #FF9C32;
$majenta: #FF79C6;
$blue: #7CCCDF;

.test {
    color: $foreground;
    background-color: $background;
}


